@tailwind base;
@tailwind components;
@tailwind utilities;

#about{
  background-image: url("./assets/about-page-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

@media screen and (max-width: 640px) {
  #home {
    background-position: center;
    background-attachment: fixed;
  }
}
@media screen and (min-width: 640px) {
  #home {
    background-attachment: fixed;
    background-position: center 28px;
  }
}
